langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
streamlit
langchain-groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
wikipedia
arxiv
duckduckgo-search
twilio
playwright
yfinance
alpha_vantage
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests
streamlit.authenticator
validators
youtube_transcript_api
pytube
langchain_huggingface
huggingface_hub
cassio
datasets  
openai 
tiktoken
